.playlist-table {
	border: 1px solid #D6D6D6;
	border-spacing: 0px;
	width:100%;
}
.playlist-col-nowplaying {
    width:20px;
}
.playlist-col-title {
}
.playlist-row {
	border-bottom: 1px solid #D6D6D6;
}
.playlist-row a {
    text-decoration: none;
}
.playlist-row td, .playlist-row a {
    font-family:arial,sans-serif;
    font-size:80%;
}
