html {
	padding:0;
	margin:0;
}
body {
	padding:1vw;
	margin:0;
}
#d1 {
	width:48vw;
	height:20rem;
	background-color:orange;
	float:left;
}
#d2{
	width:calc(48vw - 2rem);
	height:20vh;
	background-color:fuchsia;
	float:right;
	padding:1rem;
}
